/* Universal styles */
body {
    background-color: #FFF8E2; 
    font-family: 'Libre Baskerville', serif; 
    font-size: 1rem; 
    color: #574D37; 
}

/* Using flexbox to make main content div fill the available space in the page */
/* See https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
html, body {  
    height: 100%;
    margin: 0
}

#root, .App {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.App .header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.App .main-content {
    flex: 1 1 auto;
}

.App .footer {
    flex: 0 1 75px;
}

/* For header */
.header {
    font-family: 'Cinzel', serif;
}

.header-wrapper {
    display: inline-block;
}

.topHeader {
    position: relative;
    top: 15px;
}

.bottomHeader, .nudge-up {
    position: relative;
    bottom: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.subHeader {
    position: relative;
    top: -.75rem;
    margin: 0;
    padding: 0;
    font-size: .95rem;
    font-weight: bold;
}

.signature {
    height: 2rem;
    position: relative;
    top: 8px;
}

a {
    color: #574D37;
}

a.email {
    color: blue;
}

.modal {
    font-family: 'Cinzel', serif !important;
    text-align: justify !important;
}

/* For controls */
@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; } }

/* For table */
table > tbody > tr {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: .9rem;
}  

table > tbody {
    border: 2px solid grey;
    border-style: groove;
}

/* Overriding materialize styles: dropdown, checkbox */
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid black;
}

.select-wrapper input.select-dropdown, dropdown-content select-dropdown {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: black;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 1rem;
    color: black;
    display: block;
    padding: 14px 16px;
    /* background-color: whitesmoke; */
}

.dropdown-content *, *:before, *:after {
    color: black;
}

/* For footer */
.page-footer {
    padding-top: 0;
    border-top: 2px solid #574D37;
    border-bottom: 2px solid #574D37;
    background-color: lightslategray;
}

.page-footer .footer-copyright {
    background-color: transparent;
    color: #FFF8E2;
}

.page-footer .footer-copyright a {
    color: #FFF8E2;
}

/* Other */
.center-loader {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}